body {
  background-color: #92a6cb;
  

  .step {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    background-image: url(background.png);
    background-repeat: no-repeat;


    background-size: 1200px 100%;




    .currentStep {
      margin-left: 87%;
      text-align: center;
      width: 40px;
      margin-bottom: -40px;


      h3 {
        display: inline;
        color: #ffffff;
        font-size: 36px;
      }
      p {
        display: inline;
        color: #c2bc3b;
        font-size: 18px;
        font-weight: 600;
      }



    }


    .box {
      width: 90%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 0 auto;
      text-align: center;
      background-color: #ffffff;
      position: relative;
      margin-top: 40px;

      .image {
        width: 100%;
        //border-radius: 50%;
        border: 0 solid white;

        //margin-top: -70px;
      }




      .info {
        background-color: #ffffff;
        margin: 0 auto;
        padding: 20px 20px;
        position: relative;


        .headlines{
          position: absolute;
          margin: 0 auto;
          margin-top: -60%;
          text-align: left;



          h2 {
            margin-bottom: 0;

            span {
              color: #92a6cb;
              font-size: 16px;
              text-transform: uppercase;
              background-color: white;

            }
          }

          h1 {
            margin-top: -1px;

            span {
              color: white;
              font-size: 32px;
              text-transform: uppercase;
              background-color: #92a6cb;


            }
          }

        }


      }

      .question {

        img{
          width: 20px;
          text-align: right;
        }
        padding: 20px;
        p {
          margin-top: 0;
          padding-top: 10px;
          font-size: 14px;

        }
        background-color: #ffffff;
      }
      .button {

        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        background-color: #c2bc3b;
          color: white;
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;

      }

    }
  }
}

