body{
  text-align: center;

  .stress {
    height: 100%;


    h2 span {
      background-color: #ffc65c !important;
    }

    .currentStep {
      background-color: #ffc65c;

      p {
        color: #ffc65c !important;

      }

    }


  }
}
