body{
  text-align: center;

  .stress {
    height: 100%;


    h2 span{
      background-color: #b4b8e3 !important;
    }

    .box  {

      .currentStep {

        p {
          color: #b4b8e3 !important;

        }
      }
    }


  }
}
