body{


.information{
  margin: 0 auto;
  width: 85%;
  Height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  img{
    width: 100%;
  }

  .text{
    padding: 20px;

    .tips{
      background-color: #c2bc3b;
      li{
        color: black;
        list-style-type: none;
        margin-top: 20px;
      }
    }

  }


}}