html {
  height: 100%;

  body {
    height: 100%;

    .step {

      height: 100%;
      .coach {
        height: 100%;
        padding-top: 20px;

        .coach-box {
          width: 80%;
          background-color: white;
          margin: 0 auto;

          .header {
            background-color: #f7f7f7;
            margin: 0 auto;
            padding: 10px 10px;
            h2 {
              color: #c2bc3b;
              font-size: 16px;
              text-transform: uppercase;
            }

          }
            .text-coach {

              padding: 20px 20px;
              background-color: white !important;

              p {
                margin-top: 0px;
                padding: 10px 10px;

                font-size: 14px;

              }

            }



            button {
              color: white;
              font-size: 14px;
              text-decoration: none;
              text-transform: uppercase;
              background-color: #c2bc3b;
              width: 200px;
              margin: 0 auto;
              padding: 20px 10px;

            }
          }

        .image {
          width: 250px;
          height: auto;
          float: left;
          margin-top: -70px;
          padding-left: 20px;
        }
        .talk{
          margin-top: 0;
          width: 60px;
          margin-left: -250px;
        }
      }
    }
  }
}