.results {
  margin: 0 auto;
  width: 90%;

  ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;

    .item-1 {
      margin-top: 30px;

      .header {

        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        background-color: #c2bc3b;
      }
      .textfield {
        background-color: white;
        padding: 20px;
      }
    }
    .item-2 {
      width: 90%;
      margin: 0 auto;
      margin-top: 30px;

      font-size: 12px;
      .header {

        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        background-color: #c2bc3b;
      }
      .textfield {
        background-color: white;
        padding: 20px;
      }
    }


    .item-3 {
      width: 90%;
      margin: 0 auto;
      margin-top: 30px;


      font-size: 12px;
      .header {

        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        background-color: #c2bc3b;
      }
      .textfield {
        background-color: white;
        margin-top: -20px;
        padding: 20px;
      }
    }
  }
}

