
@media only screen and (min-width: 700px) {
body{
  background-image: url("bg2.png");
  background-repeat: no-repeat;
  background-size: 100% auto !important;

}
}

body{
  background-image: url("bg2.png");
  background-repeat: no-repeat;
  background-size: 500px 300%;
.App {
  padding: 30px;

  .image_home {
    margin: 0 auto;
    position: relative;

    img{
      width: 300px;
    }


  }


 .log  {
  color: white;
   p{
     display: inline;
   }
   a{
     color:white;
     display: inline;
   }
  }
}
h2{
  padding: 10px;
  font-size: 20px;
}

.logo{
  width: 40%;
  margin: 0 auto;
  margin-top: 30%;
}

.button_start {
  color: white;
  font-size: 16px;
  text-decoration: none;
  background-color: #c2bc3b;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px !important;
  margin-bottom: 20px;
  padding: 20px 10px;

}
}