


.label {
  display: inline-block;
  float: left;
  margin-left: 6%;
  font-size: 16px;
  color: black;
  width: 35%;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  height: 30px;
}

input {
  margin: .4rem 0;
}

 .loginText p{
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  color: white;
}