body{
  text-align: center;
  height: 100%;


  .movement {
    height: 100%;
    h2 span {
      background-color: #92a6cb !important;
    }

    .currentStep {
      background-color: #92a6cb;

      p {
        color: #92a6cb !important;

      }

    }
  }
}
