body{
  text-align: center;
  height: 100%;


  .movement {
    height: 100%;
    background-image: linear-gradient(to bottom, #c4dcf4 0%, #c4dcf4 60%, #a9d6b9 100%);
    .step{
      height: 100%;
    }

  }
}
