body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


@media (max-width: 1080px) {
  .nav li { display: none; }
  .nav:before { content: "\2261"; font-size: 30pt; }
  .nav.visible li { display: block; font-size: 12pt; }
}




