body{


  .food {
    height: 100%;

    h2 span {
      background-color: #c2bc3b !important;
    }

    .currentStep {
      background-color: #c2bc3b;

      p {
        color: #c2bc3b !important;

      }

    }
  }
}
